* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-class {
  width: 100%;
  padding: 10px 200px;
}

.bg-image {
  background-image: url(./assets/desktop/Header\ bg@2x.png);
  background-repeat: no-repeat;
  height: 916px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.heading-text {
  margin-left: 320px;
  width: 20%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #172b4d;
}

.bio {
  margin-left: 310px;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 10px 8px 10px;
  color: #344563;
}