@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar-class {
  width: 100%;
  padding: 10px 200px;
}

.bg-image {
  background-image: url(./assets/desktop/Header\ bg@2x.png);
  background-repeat: no-repeat;
  height: 645px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 90%;

}

.heading-text {
  margin-left: 320px;
  width: 25%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #172b4d;
}

.bio {
  margin-left: 310px;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 10px 8px 10px;
  color: #344563;
}
#social-links-1 , .connect-1{
  margin-left: 310px; 
}

#cards img {
  padding: 15px;
}

#cards .card-body span {
  padding: 15px;
  margin: 3px;
  color: #6070ff;
  background-color: #ebebff;
}

#card-1 .row {
  display: flex;
  flex-direction: row-reverse;
}

#card-3 .row {
  display: flex;
  flex-direction: row-reverse;
}

#card-0 , #card-1 , #card-2 , #card-3 , #card-4{
  margin: 50px 0px;
}
#social-links li ,#social-links-1 li{
  padding-right: 20px;
  list-style: none;
}
#contact{
  justify-content: center;
  background: #6070ff;
    background-image: url(./assets/desktop/contact\ form\ background\ shapes.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: right;
}
#contact .contact-form{
  width: 400px;
  margin-left:10px;
}
#contact .contact-title{
  height: 10px;
padding-top: 60px;
color: #fff;
text-align: center;
}
#contact .contact-text{
  height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  }
  #contact button{
    position: relative;
    left: 35%;
  }
  @media only screen and (max-width: 768px) {
    .heading-text {
     margin-left: 120px;   
    }
    
    .bio {
      margin-left: 110px; 
    }
    .navbar-class{
    padding: 20px 30px;
    }
    #social-links-1 , .connect-1{
      margin-left: 110px; 
    }
    #contact button{
      position: relative;
      left: 5%;
    }
    #contact .contact-form{
      width: 100%;
    }
  }
